html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  color: white;
  background-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  text-align: center;
  margin: 0rem 1rem;
}
h2 {
  color: white;
  font-size: 1rem;
  margin: 0;
  padding: 1.5rem 1.5rem 1.5rem 1rem;
  text-decoration: none;
}
main {
  max-width: 40rem;
  border-radius: 3%;
  border: solid 0.1rem white;
  background-color: rgb(31, 29, 29);
  margin: 4rem auto;
}
section {
  display: flex;
  justify-content: space-between;
  max-width: 40rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
a {
  color: white;
  text-decoration: none;
}
a :hover {
  background-color: rgb(100, 88, 88);
}
p {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(31, 29, 29);
  margin-top: 0;
}

img {
  display: block;
  border-radius: 50%;
  margin: auto;
  padding: 0rem 3rem;
}
button {
  color: white;
  transition-duration: 0.4s;
  border-radius: 20%;
  width: 4rem;
  height: 4rem;
  border: white 2px solid;
  background-color: rgb(49, 40, 40);
  margin-bottom: 1rem;
}
.btn {
  display: flex;
  justify-content: center;
  margin-left: 3rem;
}

.kdoJsem {
  text-align: center;
  font-size: 1.5rem;
}
