html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  color: white;
  background-color: black;
  font-family: 'Sedgwick Ave', cursive;
  letter-spacing: 0.3rem;
}

.miniJoker {
  max-width: 60px;
}

h1 {
  font-family: 'Sedgwick Ave', cursive;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  text-align: center;
  margin: 0.5rem 1rem;
}
h2 {
  font-family: 'Sedgwick Ave', cursive;
  font-size: 2.2rem;
  text-align: center;
  padding: 0.5rem;
}
h3 {
  color: white;
  font-size: 1rem;
  margin: 0;
  padding: 1.5rem 1.5rem 1.5rem 1rem;
  text-decoration: none;
}
main {
  max-width: 40rem;
  border-radius: 3%;
  border: solid 0.1rem white;
  background-color: black;
  margin: 4rem auto;
}
section {
  display: flex;
  justify-content: space-between;
  text-align: center;
  max-width: 80rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.triBoxy {
  background-color: black;
  max-width: 80rem;
}

.coJeZmrzli,
.jakyBudeWeb,
.oCoJde {
  max-width: 30%;
  border-radius: 3%;
  border: solid 0.1rem white;
}

.coJe a {
  color: white;
  text-decoration: none;
}
a :hover {
  background-color: rgb(100, 88, 88);
}
p {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  font-family: 'Sedgwick Ave', cursive;
  background-color: black;
  margin-top: 0;
  padding: 1rem;
}

img {
  display: block;
  border-radius: 50%;
  margin: 3rem auto;
  filter: grayscale(100%);
}
button {
  color: white;
  font-family: 'Sedgwick Ave', cursive;
  transition-duration: 0.4s;
  border-radius: 20%;
  width: 4rem;
  height: 4rem;
  border: white 2px solid;
  background-color: black;
  margin-bottom: 1rem;
}
.btn {
  display: flex;
  justify-content: center;
  margin-left: 3rem;
}
.btn_container {
  display: flex;
}
.btn_home,
.btn_co {
  margin: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tym {
  display: flex;
  margin: 2rem;
  max-width: 20rem;
}
.osoba {
  margin: 1rem;
  justify-content: center;
  border: white 2px solid;
  background-color: black;
  border-radius: 3%;
}

.osoba_foto img {
  width: 100%;
  padding: 1rem;
  margin: 0;
}

.kdoJsem {
  text-align: center;
  font-size: 1.5rem;
}
